html, body{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
}
.body-content{
	flex: 1;
}
.has-opacity-half{
	opacity: 0.5;
}
.has-bottom-border{
	//border-bottom: 3px solid rgba(0, 0, 0, 0.75);
	border-bottom: 2px solid #dbdbdb;
}
.has-no-padding-top{
	padding-top: 0px;
}
.control.is-loading-input:after{
	height: 1.5em;
	width: 1.5em;
	z-index: 100;
}
.fade-enter-active, .fade-leave-active{
	transition: all 400ms;
}
.fade-enter, .fade-leave-to{
	opacity: 0;
}